<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      {{link-to "Bloggr" "index" class="navbar-brand"}}
    </div>
    <ul class="nav navbar-nav">
      <li>{{link-to "Posts" "posts"}}</li>
      <li>{{link-to "About" "about"}}</li>
    </ul>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
